
.back-top {
    cursor: pointer;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    display: block;
    z-index: 99;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: rgba(6, 106, 201, 0.2);
    color: #066ac9;
    border-radius: 10%;
    width: 3.25rem;
    height: 3.25rem;
    line-height: 3.25rem;
    text-align: center;
}

.back-top:hover {
    background: #066ac9;
    color: #fff;
}

.back-top.back-top-show {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0%);
    transform: translate(0%);
}